################### {Beat} Configuration Example #########################

############################# {Beat} ######################################

polutbeat:
  # Defines how often an event is sent to the output
  period: 1s
  url: "https://airnet.waqi.info/airnet/map/stations"
  token: "abe466e87b9df8832dfe2f08d96b915adbe4cdb1"
  timeout: 5s
